# -------------------------------------------------------------------------------------
# Backend owns this repo as a whole.
# -------------------------------------------------------------------------------------
*                    @tiki/backend


# -------------------------------------------------------------------------------------
# Content should have eyes on any Markdown changes.
# -------------------------------------------------------------------------------------
*.md                 @tiki/content


# -------------------------------------------------------------------------------------
# Infrastructure should all have eyes on any changes under .github/
# -------------------------------------------------------------------------------------
/.github/            @tiki/infrastructure
